@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(249, 175, 224, 0.6), rgba(60, 80, 90, 0.6)), url('Logo-back/back.avif');
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;  
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Roboto', sans-serif;
}

nav ul{
    display: flex; 
    list-style-type: none;
    height: 65px;
    background-color: black;
    align-items: center;
    color: white;
}

nav ul li{
    padding: 0 10px;
}

.brand img{
    width: 44px;
    padding: 0 10px;
}

.brand {
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
    display: flex;

   
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;

}

.container{
   min-height: 70vh;
   color: black;
   font-family: 'Roboto', sans-serif;
   display: flex;
   margin: 22px auto;
   width: 100%;
   border-radius: 12px;
   padding: 25px;
}

.bottom{
    position: sticky;
    z-index: 998;
    bottom: 0;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#player{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

.songItem{
    /* border: 10px; */
    width: 230px;
    display: flex;
    background-color: none;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    width: 230px;
    background-color: none;
    color: black;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}

.bordered-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #000; 
}
.timestamp{
    margin: 0 50px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px){
    body {
      background-color: black;
    }
}

audio{
    text-align: center;
    margin: 0;
    padding: 0;
    position: sticky;
    bottom: 0;
    display: flex;
    height: 55px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div img {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    
    transition: 400ms;
}
div img:hover {
    filter: transition(1);
    transform: scale(1.03);
}

.bordered-image {
    border: 2px solid #000;
}

body {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black; 
    padding: 10px;
    z-index: 1000; 
}

nav ul {
    display: flex;
    list-style-type: none;
    color: white;
}

nav ul li {
    padding: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 300px;
}

.search-bar button {
    padding: 8px 12px;
    margin-left: 1px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

html{
    overflow: hidden;
    scroll-behavior: initial;
}

.center {
    text-align: center;
}

.songList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 1100px) {
    .songItem {
        width: auto;
    }
}

body.search-active {
    background-attachment: scroll;
}

.container.search-active {
    flex-direction: column;
}

body.search-active {
    overflow: hidden;
}

.header-container.search-active {
    position: static;
}

.songList.search-active {
    justify-content: flex-start;
}

.songItem.search-active {
    width: auto;
    margin: 10px;
}

.songlistplaying {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    opacity: 0.8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
}

.songlistplaying i {
    margin-left: 10px;
}
